h3{
  margin-top: 0; 
}

.contact-form {
  z-index: 2;  
  position: absolute;
  top: 20px;
  left: 300px;
  border: solid 1px aliceblue;
  box-shadow: 1px 1px 1px 0px rgba(13,140,64,.5);
  margin: 20px;
  width: 225px;
  padding: 20px;
  background: white;
  opacity: .9;
  display: none;
}

.is-visible {
  display: block;
}

.add-edit-submit-button {
  margin-left: 5px;  
  width: 70px;
}

.add-edit-cancel-button {
  margin-left: 30px;
}