.contact-item {
  float: left;
  border: solid 1px aliceblue;
  box-shadow: 1px 1px 1px 0px rgba(13,140,64,.5);
  width: 250px;
  padding: 10px;
  cursor: pointer;
  background: white;
  opacity: 1;
}

.contact-item:hover{
  box-shadow: 1px 1px 2px 0px rgba(13,140,64,.7);  
  background-color: lightgray;
}

.contact-item:pressed{
  background-color: gray;
  box-shadow: 1px 1px 2px 0px rgba(13,140,64,.9);  
}

.contact-info {
  margin-right: 20px;
  float:left;
  width: 120px;
}

.delete-button{
  float:right;
  margin-top: 8px;
  padding: 0;
  width: 35px;
  margin-left: 10px;
}

.info-button{
  float:right;
  padding: 0;
  width: 35px;
  margin-top: 8px;
}

.add-button{
  float: left;
  margin-left: 65px;
  width: 100px;
  margin-top: 1px;
  margin-bottom: 2px;
}